<div class="navbar">
    <a href="{% url 'home' %}">Inicial</a>
    <div class="dropdown">
        <button class="dropbtn">Cadastrar</button>
        <div class="dropdown-content">
            <a href="{% url 'candidato_form' %}"> Candidatos </a>
            <a href="{% url 'examinador_form' %}"> Examinadores </a>
            <a href="{% url 'tipo_form' %}"> Tipos de Provas </a>
            <a href="{% url 'avaliacao_form' %}"> Avaliação </a>
            <a href="{% url 'concurso_form' %}"> Concurso </a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Listar</button>
        <div class="dropdown-content">
            <a href="{% url 'candidato_list' %}"> Candidatos </a>
            <a href="{% url 'examinador_list' %}"> Examinadores </a>
            <a href="{% url 'tipo_list' %}"> Tipo de Provas </a>
            <a href="{% url 'avaliacao_list' %}"> Avaliação </a>
            <a href="{% url 'concurso_list' %}"> Concurso </a>
            <a href="{% url 'notas_finais' %}"> Notas Finais </a>
            <a href="{% url 'habilitados_list' %}"> Habilitados </a>
            <a href="{% url 'empate' %}"> Empate </a>
            <a href="{% url 'classificacao_final' %}"> Classificação Final </a>
        </div>
    </div>
</div>