body {
  background-color: rgb(233, 231, 228);
}

/* Style the links inside the navigation bar */
.rodape {
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.botao_confirmar {
  border-style: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #4f69dd;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  margin: 2px 2px;
  padding: 2px;
  height: 22px;
  width: auto;
}

.botao_confirmar:hover {
  background-color: #4f69dd;
  color: black;
}

.botao_aviso {
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #c55757;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  margin: 2px 2px;
  padding: 2px;
  height: 22px;
  width: auto;
}

.botao_aviso:hover {
  background-color: #c55757;
  color: black;
}

.tabela {
  border-collapse: collapse;
  width: 100%;
}

.tabela th,
tr {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #bebec9;
}

.tabela tr:hover {
  background-color: #e2e2e2;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ca8282;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}