{% extends "base.html" %}

{% block titulo %}
Lista de Aprovados
{% endblock titulo%}

{% block conteudo %}
{% if aprovados %}
<h2>Aprovados</h2>
<table class="tabela">
    <thead>
        <tr>
            <th>id</th>
            <th>data</th>
            <th>nota</th>
            <th>num</th>
        </tr>
    </thead>
    <tbody>
        {% for n in aprovados %}
        <tr>
            <th scope="row">{{ n.pk }}</th>
            <td>{{ n.data }}</td>
            <td>{{ n.nota }}</td>
            <td>{{ num_aprovados }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Não há aprovados.</h2>
{% endif %}
{% endblock conteudo %}