{% extends "base.html" %}
{% load static %}

{% block titulo %}
Lista Classificação Final
{% endblock titulo%}

{% block conteudo %}
<img src="{% static 'img/logo_unicamp.jpg' %}" alt="Minha Imagem">
<table class="tabela_classificacao_final">
    <thead>
        <tr>
            <th colspan="3" class="titulo_principal">Classificação Final</th>
        </tr>
        <tr>
            <th class="titulo_secundario">Posição</th>
            <th class="titulo_secundario">Candidato</th>
            <th class="titulo_secundario">Número de Indicações</th>
        </tr>
    </thead>
    <tbody>
        {% for candidato, posicao in dados.items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ candidato }}</td>
            <td>{{ posicao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock conteudo %}