{% extends "base.html" %}

{% block titulo %}
Lista de Empatados
{% endblock titulo%}

{% block conteudo %}

<form method="post">
    {% csrf_token %}
    {% for examinador, par in lista_empates %}
    <h4>Examinador: {{ examinador }}</h4>
    {% for candidato in par %}
    <table>
        <tr>
            <td><label>{{ candidato }}:</label></td>
            <td><input type="text" id="{{ examinador }},{{ candidato }}" name="{{ examinador }},{{ candidato }}"
                    value=""></td>
        </tr>
    </table>
    {% endfor %}
    {% endfor %}
    <p></p>
    <input type="submit" value="Enviar">
</form>

{% endblock conteudo %}