{% extends "base.html" %}

{% block titulo %}
Lista de Empatados
{% endblock titulo%}

{% block conteudo %}
{% if dados %}
<form method="post">
    {% csrf_token %}
    {% for examinador, empates in dados.items %}

    <h4>Examinador: {{ examinador }}</h4>
    <table>
        {% for empate_num, candidatos in empates.items %}
        <tr>
            <td>{{empate_num}}:</td>
        </tr>
        {% for candidato in candidatos %}
        <tr>
            <td><label>{{ candidato }}:</label></td>
            <td><input type="text" name="{{ examinador }},{{empate_num}},{{ candidato }}" value=""></td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    <p></p>
    <input type="submit" value="Enviar">
</form>
{% else %}
<h3>Não há empates</h3>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Retornar">
</form>
{% endif %}
{% endblock conteudo %}