{% extends "base.html" %}

{% block titulo %}
{% if examinador.pk %}
Editar Examinador
{% else %}
Novo Examinador
{% endif %}
{% endblock titulo %}

{% block conteudo %}
{% if examinador.pk %}
<h2>Editar Examinador.</h2>
{% else %}
<h2>Cadastrar novo examinador.</h2>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botao_confirmar">Confirmar</button>
    <a href="{% url 'examinador_list' %}" class="botao_confirmar">Cancelar</a>
</form>
{% endblock conteudo %}