{% extends "base.html" %}

{% block titulo %}
Candidatos Hbilitados
{% endblock titulo%}

{% block conteudo %}
{% if aprovados %}
<h2>Candidatos Habilitados.</h2>
<table class="tabela">
    <thead>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>habilitado</th>
        </tr>
    </thead>
    <tbody>
        {% for n in aprovados %}
        <tr>
            <th scope="row">{{ n.pk }}</th>
            <td>{{ n.nome }}</td>
            <td>{{ n.habilitado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Não há candidatos cadastrados.</h2>
{% endif %}
{% endblock conteudo %}