{% extends "base.html" %}

{% block titulo %}
Médias
{% endblock titulo%}

{% block conteudo %}
{% if media %}
<h2>Médias</h2>
<table class="tabela">
    <thead>
        <tr>
            <th>id</th>
            <th>candidato</th>
            <th>examinador</th>
            <th>media</th>
        </tr>
    </thead>
    <tbody>
        {% for n in media %}
        <tr>
            <th scope="row">{{ n.pk }}</th>
            <td>{{ n.nome }}</td>
            <td>{{ n.examinador }}</td>
            <td>{{ n.media | floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Não há médias.</h2>
{% endif %}
{% endblock conteudo %}