{% extends "base.html" %}

{% block titulo %}
{% if notas.pk %}
Editar Candidato
{% else %}
Novo Candidato
{% endif %}
{% endblock titulo %}

{% block conteudo %}
{% if notas.pk %}
<h2>Editar candidato.</h2>
{% else %}
<h2>Cadastrar novo candidato.</h2>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="botao_confirmar">Confirmar</button>
    <a href="{% url 'notas_list' %}" class="botao_confirmar">Cancelar</a>
</form>
{% endblock conteudo %}