{% extends "base.html" %}

{% block titulo %}
{% if prova.pk %}
Editar Prova
{% else %}
Nova Prova
{% endif %}
{% endblock titulo %}

{% block conteudo %}
{% if prova.pk %}
<h2>Editar Prova</h2>
{% else %}
<h2>Cadastrar nova prova</h2>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="botao_confirmar">Confirmar</button>
    <a href="{% url 'prova_list' %}" class="botao_confirmar">Cancelar</a>
</form>
{% endblock conteudo %}